{% extends "base.html" %}

{% load static %}

{% block content %}
{% for serv in servicios %}


<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{serv.imagen.url}}" alt="" style="width: 60%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{serv.titulo}}</span>
          </h2>
          <p class="mb-3">{{serv.contenido}}
          </p>
         
        </div>
      </div>
    </div>
  </section>
<!-- <div>
    <h1>{{serv.titulo}}</h1>
</div>
<p>{{serv.contenido}}</p>
<img src="{{serv.imagen.url}}"> -->

{%  endfor %}
{% include 'paginacion.html' %}
{% endblock %}